# lib & files

In [170]:
#Library
import ast
import pandas as pd
import re


#Display all columns
pd.options.display.max_columns = 400

---

# Animes

In [171]:
#files 
data = pd.read_csv('https://anime-recommendation-engine.s3.eu-west-3.amazonaws.com/data/animes.csv')
data.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...","['Comedy', 'Sports', 'Drama', 'School', 'Shounen']","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
1,23273,Shigatsu wa Kimi no Uso,"Music accompanies the path of the human metronome, the prodigious pianist Kousei Arima. But after the passing of his mother, Saki Arima, Kousei falls into a downward spiral, rendering him unable to hear the sound of his own piano. \r\n \r\nTwo years later, Kousei still avoids the piano, leaving...","['Drama', 'Music', 'Romance', 'School', 'Shounen']","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/67177.jpg,https://myanimelist.net/anime/23273/Shigatsu_wa_Kimi_no_Uso
2,34599,Made in Abyss,"The Abyss—a gaping chasm stretching down into the depths of the earth, filled with mysterious creatures and relics from a time long past. How did it come to be? What lies at the bottom? Countless brave individuals, known as Divers, have sought to solve these mysteries of the Abyss, fearlessly de...","['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'Fantasy']","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/86733.jpg,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, something of equal value must be lost."" \r\n \r\nAlchemy is bound by this Law of Equivalent Exchange—something the young brothers Edward and Alphonse Elric only realize after attempting human transmutation: the one forbidden act of alchemy. They pay a terr...","['Action', 'Military', 'Adventure', 'Comedy', 'Drama', 'Magic', 'Fantasy', 'Shounen']","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/96541.jpg,https://myanimelist.net/anime/5114/Fullmetal_Alchemist__Brotherhood
4,31758,Kizumonogatari III: Reiketsu-hen,"After helping revive the legendary vampire Kiss-shot Acerola-orion Heart-under-blade, Koyomi Araragi has become a vampire himself and her servant. Kiss-shot is certain she can turn him back into a human, but only once regaining her full power. \r\n \r\nAraragi has hunted down the three vampire ...","['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/81576.jpg,https://myanimelist.net/anime/31758/Kizumonogatari_III__Reiketsu-hen

In [172]:
# Basic stats
print(f"Number of rows : {data.shape[0]}")
print(f"Number of columns : {data.shape[1]}")

print("Basics statistics: ")
display(data.describe(include='all'))

print("Percentage of missing values: ")
print(data.isna() .sum() / data.shape[0])

Number of rows : 19311
Number of columns : 12
Basics statistics:

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
count,19311.000000,19311,18336,19311,19311,18605.000000,1.931100e+04,19311.000000,16099.000000,18732.000000,19131,19311
unique,NaN,16214,15194,4851,11127,NaN,NaN,NaN,NaN,NaN,16051,16216
top,NaN,Hakkenden: Touhou Hakken Ibun 2nd Season,No synopsis has been added for this series yet. \r\n \r\n Click here to update this information.,['Hentai'],Not available,NaN,NaN,NaN,NaN,NaN,https://cdn.myanimelist.net/images/anime/1071/94957.jpg,https://myanimelist.net/anime/18055/Hakkenden__Touhou_Hakken_Ibun_2nd_Season
freq,NaN,3,46,1837,372,NaN,NaN,NaN,NaN,NaN,3,3
mean,19358.904096,NaN,NaN,NaN,NaN,11.460414,3.472609e+04,7720.830304,6866.524194,6.436107,NaN,NaN
std,14271.446515,NaN,NaN,NaN,NaN,47.950386,1.121772e+05,4676.786104,4390.018768,1.007941,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,1.000000,2.500000e+01,1.000000,1.000000,1.250000,NaN,NaN
25%,4833.500000,NaN,NaN,NaN,NaN,1.000000,3.880000e+02,3725.000000,2895.500000,5.770000,NaN,NaN
50%,18327.000000,NaN,NaN,NaN,NaN,2.000000,2.389000e+03,7539.000000,6963.000000,6.410000,NaN,NaN
75%,33896.500000,NaN,NaN,NaN,NaN,12.000000,1.450150e+04,11613.000000,10601.500000,7.150000,NaN,NaN
max,40960.000000,NaN,NaN,NaN,NaN,3057.000000,1.871043e+06,16338.000000,14675.000000,9.230000,NaN,NaN

Percentage of missing values:
uid           0.000000
title         0.000000
synopsis      0.050489
genre         0.000000
aired         0.000000
episodes      0.036559
members       0.000000
popularity    0.000000
ranked        0.166330
score         0.029983
img_url       0.009321
link          0.000000
dtype: float64

### EDA

##### UID

In [173]:
data['uid'].value_counts()

uid
18055    3
150      3
40269    3
1293     3
2405     3
        ..
32778    1
9509     1
34422    1
30404    1
16934    1
Name: count, Length: 16216, dtype: int64

In [174]:
data['uid'].nunique()

16216

##### synopsis

In [175]:
data['synopsis'].str.len().mean()

414.40930410122166

In [176]:
data['synopsis'][1]

"Music accompanies the path of the human metronome, the prodigious pianist Kousei Arima. But after the passing of his mother, Saki Arima, Kousei falls into a downward spiral, rendering him unable to hear the sound of his own piano. \r\n  \r\nTwo years later, Kousei still avoids the piano, leaving behind his admirers and rivals, and lives a colorless life alongside his friends Tsubaki Sawabe and Ryouta Watari. However, everything changes when he meets a beautiful violinist, Kaori Miyazono, who stirs up his world and sets him on a journey to face music again. \r\n \r\nBased on the manga series of the same name,  Shigatsu wa Kimi no Uso  approaches the story of Kousei's recovery as he discovers that music is more than playing each note perfectly, and a single melody can bring in the fresh spring air of April. \r\n \r\n[Written by MAL Rewrite]"

episode

In [177]:
type(data['episodes'][0])

numpy.float64

In [178]:
data['episodes'].value_counts()

episodes
1.0       8807
2.0       1943
12.0      1436
13.0       825
3.0        784
          ...
3057.0       1
224.0        1
431.0        1
1565.0       1
146.0        1
Name: count, Length: 199, dtype: int64

In [179]:
data["episodes"] = data["episodes"].astype("Int64")

In [180]:
data['episodes'].value_counts()

episodes
1       8807
2       1943
12      1436
13       825
3        784
        ...
3057       1
224        1
431        1
1565       1
146        1
Name: count, Length: 199, dtype: Int64

##### genre

In [181]:
data['genre'].value_counts()

genre
['Hentai']                                                                 1837
['Music']                                                                   728
['Comedy']                                                                  642
['Kids']                                                                    412
['Dementia']                                                                202
                                                                           ...
['Drama', 'Fantasy', 'Mystery', 'Romance', 'School']                          1
['Action', 'Comedy', 'Magic', 'Shounen', 'Super Power', 'Supernatural']       1
['Parody', 'Mecha', 'Sci-Fi']                                                 1
['Action', 'Adventure', 'Fantasy', 'Comedy', 'Super Power', 'Shounen']        1
['Music', 'Romance', 'Super Power', 'Supernatural']                           1
Name: count, Length: 4851, dtype: int64

In [182]:
type(data['genre'][0])

str

In [183]:
data['genre'] = data['genre'].apply(ast.literal_eval)
df_exploded = data.explode('genre')

In [184]:
df_exploded['genre'].value_counts()

genre
Comedy           6461
Action           4215
Fantasy          3466
Adventure        3143
Drama            3004
Sci-Fi           2832
Hentai           2574
Kids             2549
Shounen          2322
Romance          2152
Slice of Life    2056
Music            1993
School           1912
Supernatural     1719
Historical       1218
Mecha            1197
Magic            1174
Seinen            982
Mystery           874
Sports            811
Ecchi             805
Shoujo            788
Super Power       716
Parody            702
Military          678
Demons            605
Space             564
Horror            511
Harem             435
Martial Arts      424
Dementia          419
Psychological     415
Game              395
Police            301
Samurai           238
Vampire           165
Thriller          161
Cars              133
Josei             115
Shounen Ai        113
Shoujo Ai          87
Yuri               79
Yaoi               78
Name: count, dtype: int64

In [185]:
df_exploded['genre'].nunique()

43

In [186]:
df_exploded.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...",Comedy,"Oct 4, 2015 to Mar 27, 2016",25,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...",Sports,"Oct 4, 2015 to Mar 27, 2016",25,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...",Drama,"Oct 4, 2015 to Mar 27, 2016",25,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...",School,"Oct 4, 2015 to Mar 27, 2016",25,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...",Shounen,"Oct 4, 2015 to Mar 27, 2016",25,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season

### Cleaning Dataset

In [187]:
df = data.drop_duplicates('uid')
#df = df.dropna(subset='synopsis')

In [188]:
df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead. \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large tr...","[Comedy, Sports, Drama, School, Shounen]","Oct 4, 2015 to Mar 27, 2016",25,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
1,23273,Shigatsu wa Kimi no Uso,"Music accompanies the path of the human metronome, the prodigious pianist Kousei Arima. But after the passing of his mother, Saki Arima, Kousei falls into a downward spiral, rendering him unable to hear the sound of his own piano. \r\n \r\nTwo years later, Kousei still avoids the piano, leaving...","[Drama, Music, Romance, School, Shounen]","Oct 10, 2014 to Mar 20, 2015",22,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/67177.jpg,https://myanimelist.net/anime/23273/Shigatsu_wa_Kimi_no_Uso
2,34599,Made in Abyss,"The Abyss—a gaping chasm stretching down into the depths of the earth, filled with mysterious creatures and relics from a time long past. How did it come to be? What lies at the bottom? Countless brave individuals, known as Divers, have sought to solve these mysteries of the Abyss, fearlessly de...","[Sci-Fi, Adventure, Mystery, Drama, Fantasy]","Jul 7, 2017 to Sep 29, 2017",13,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/86733.jpg,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, something of equal value must be lost."" \r\n \r\nAlchemy is bound by this Law of Equivalent Exchange—something the young brothers Edward and Alphonse Elric only realize after attempting human transmutation: the one forbidden act of alchemy. They pay a terr...","[Action, Military, Adventure, Comedy, Drama, Magic, Fantasy, Shounen]","Apr 5, 2009 to Jul 4, 2010",64,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/96541.jpg,https://myanimelist.net/anime/5114/Fullmetal_Alchemist__Brotherhood
4,31758,Kizumonogatari III: Reiketsu-hen,"After helping revive the legendary vampire Kiss-shot Acerola-orion Heart-under-blade, Koyomi Araragi has become a vampire himself and her servant. Kiss-shot is certain she can turn him back into a human, but only once regaining her full power. \r\n \r\nAraragi has hunted down the three vampire ...","[Action, Mystery, Supernatural, Vampire]","Jan 6, 2017",1,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/81576.jpg,https://myanimelist.net/anime/31758/Kizumonogatari_III__Reiketsu-hen

### stats after cleaning

In [189]:
# Basic stats
print(f"Number of rows : {df.shape[0]}")
print(f"Number of columns : {df.shape[1]}")

print("Basics statistics: ")
display(df.describe(include='all'))

print("Percentage of missing values: ")
print(df.isna() .sum() / df.shape[0])

Number of rows : 16216
Number of columns : 12
Basics statistics:

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
count,16216.000000,16216,15453,16216,16216,15724.0,1.621600e+04,16216.000000,14553.000000,15875.000000,16051,16216
unique,NaN,16214,15194,4851,11127,<NA>,NaN,NaN,NaN,NaN,16051,16216
top,NaN,Hinamatsuri,No synopsis has been added for this series yet. \r\n \r\n Click here to update this information.,[Hentai],Not available,<NA>,NaN,NaN,NaN,NaN,https://cdn.myanimelist.net/images/anime/9/76662.jpg,https://myanimelist.net/anime/28891/Haikyuu_Second_Season
freq,NaN,2,37,923,273,<NA>,NaN,NaN,NaN,NaN,1,1
mean,19858.979588,NaN,NaN,NaN,NaN,11.657975,2.759189e+04,8161.171621,7332.375318,6.346466,NaN,NaN
std,14197.712860,NaN,NaN,NaN,NaN,48.973125,9.388251e+04,4714.317489,4235.759134,0.972700,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,1.0,2.500000e+01,1.000000,1.000000,1.250000,NaN,NaN
25%,5303.750000,NaN,NaN,NaN,NaN,1.0,2.920000e+02,4082.000000,3659.000000,5.700000,NaN,NaN
50%,19856.000000,NaN,NaN,NaN,NaN,2.0,1.839500e+03,8158.500000,7337.000000,6.370000,NaN,NaN
75%,34086.500000,NaN,NaN,NaN,NaN,12.0,1.160000e+04,12243.250000,10993.000000,7.040000,NaN,NaN
max,40960.000000,NaN,NaN,NaN,NaN,3057.0,1.871043e+06,16338.000000,14675.000000,9.230000,NaN,NaN

Percentage of missing values:
uid           0.000000
title         0.000000
synopsis      0.047052
genre         0.000000
aired         0.000000
episodes      0.030340
members       0.000000
popularity    0.000000
ranked        0.102553
score         0.021029
img_url       0.010175
link          0.000000
dtype: float64

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16216 entries, 0 to 19006
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         16216 non-null  int64
 1   title       16216 non-null  object
 2   synopsis    15453 non-null  object
 3   genre       16216 non-null  object
 4   aired       16216 non-null  object
 5   episodes    15724 non-null  Int64
 6   members     16216 non-null  int64
 7   popularity  16216 non-null  int64
 8   ranked      14553 non-null  float64
 9   score       15875 non-null  float64
 10  img_url     16051 non-null  object
 11  link        16216 non-null  object
dtypes: Int64(1), float64(2), int64(3), object(6)
memory usage: 1.6+ MB

In [191]:
print(df["uid"].dtype)  # Type de la colonne

int64

In [192]:
print(df[df["uid"] == 39518.0])

        uid                  title  \
1572  39518  Vampire in the Garden

                                                                                                                                                                                                                   synopsis  \
1572  Two girls, Momo and Fine, from different backgrounds who meet by chance. A story about an unlikely friendship between the human and vampire race that intertwines with the power of music. \r\n \r\n(Source: Netflix)

          genre          aired  episodes  members  popularity  ranked  score  \
1572  [Vampire]  Not available      <NA>      445       11381     NaN    NaN

     img_url                                                       link
1572     NaN  https://myanimelist.net/anime/39518/Vampire_in_the_Garden

In [193]:
df.to_csv('../data/animes_clean.csv', index=False)

---

# Profiles

In [194]:
#files 
data = pd.read_csv("https://anime-recommendation-engine.s3.eu-west-3.amazonaws.com/data/profiles.csv")
data.head()

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '269', '18245', '2904', '27899', '17074', '12291', '226', '28851', '8525', '6594', '4981', '1698', '457', '235', '34618']",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '9253', '34599', '3588', '13601', '6956']",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32281', '9989', '1943', '512']",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382', '849', '235', '35180', '31646']",https://myanimelist.net/profile/aManOfCulture99

In [195]:
# Basic stats
print(f"Number of rows : {data.shape[0]}")
print(f"Number of columns : {data.shape[1]}")

print("Basics statistics: ")
display(data.describe(include='all'))

print("Percentage of missing values: ")
print(data.isna() .sum() / data.shape[0])

Number of rows : 81727
Number of columns : 5
Basics statistics:

,profile,gender,birthday,favorites_anime,link
count,81727,53856,46807,81727,81727
unique,47885,3,7708,35395,47885
top,Voivodian,Male,1995,[],https://myanimelist.net/profile/Voivodian
freq,6,37096,211,16602,6

Percentage of missing values:
profile            0.000000
gender             0.341026
birthday           0.427276
favorites_anime    0.000000
link               0.000000
dtype: float64

### EDA

In [196]:
data['age'] = data["birthday"].apply(lambda x : "".join(re.findall("[0-9]{4}", x)) if pd.notnull(x) else "")
data['age'] = data['age'].replace("", "0")
data['age'] = data['age'].apply(lambda x : 2020-int(x) if 2020-int(x)<2020 else "")
data

,profile,gender,birthday,favorites_anime,link,age
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '269', '18245', '2904', '27899', '17074', '12291', '226', '28851', '8525', '6594', '4981', '1698', '457', '235', '34618']",https://myanimelist.net/profile/DesolatePsyche,26
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '9253', '34599', '3588', '13601', '6956']",https://myanimelist.net/profile/baekbeans,20
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32281', '9989', '1943', '512']",https://myanimelist.net/profile/skrn,
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00,
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382', '849', '235', '35180', '31646']",https://myanimelist.net/profile/aManOfCulture99,21
...,...,...,...,...,...,...
81722,lovelessxd,Female,"Aug 6, 1992","['853', '5114']",https://myanimelist.net/profile/lovelessxd,28
81723,Shattered_Angel,Female,"Sep 6, 1994","['150', '27', '1520', '121', '31452', '32995', '877', '14713', '129', '11111']",https://myanimelist.net/profile/Shattered_Angel,26
81724,FluffyWalrus,Male,NaN,"['121', '43', '237', '202', '205']",https://myanimelist.net/profile/FluffyWalrus,
81725,camco,Female,Sep 23,"['199', '4224', '7054', '13601', '14713']",https://myanimelist.net/profile/camco,
81726,nyja-chan,Female,Nov 13,"['39195', '38000', '440', '457', '34599', '2251', '37779', '13125', '35180', '10721']",https://myanimelist.net/profile/nyja-chan,

### profile

In [197]:
data['profile'].value_counts()

profile
Voivodian          6
Luquillo           6
cjdstruction       6
Skadi              6
WhoCanPeliCan      6
                  ..
Rukyu100           1
StarChenko         1
NiazelTephias      1
ggesus             1
srry4apologizng    1
Name: count, Length: 47885, dtype: int64

In [198]:
data[data['profile']=="Voivodian"].head()

,profile,gender,birthday,favorites_anime,link,age
19347,Voivodian,Male,1997,"['820', '324', '2451', '967', '1488', '424', '486', '1352', '2582', '35838']",https://myanimelist.net/profile/Voivodian,23
27641,Voivodian,Male,1997,"['820', '324', '2451', '967', '1488', '424', '486', '1352', '2582', '35838']",https://myanimelist.net/profile/Voivodian,23
29989,Voivodian,Male,1997,"['820', '324', '2451', '967', '1488', '424', '486', '1352', '2582', '35838']",https://myanimelist.net/profile/Voivodian,23
30876,Voivodian,Male,1997,"['820', '324', '2451', '967', '1488', '424', '486', '1352', '2582', '35838']",https://myanimelist.net/profile/Voivodian,23
35398,Voivodian,Male,1997,"['820', '324', '2451', '967', '1488', '424', '486', '1352', '2582', '35838']",https://myanimelist.net/profile/Voivodian,23

In [199]:
df = data.drop_duplicates('profile')

### stats after cleaning

In [200]:
# Basic stats
print(f"Number of rows : {df.shape[0]}")
print(f"Number of columns : {df.shape[1]}")

print("Basics statistics: ")
display(df.describe(include='all'))

print("Percentage of missing values: ")
print(df.isna() .sum() / df.shape[0])

Number of rows : 47885
Number of columns : 6
Basics statistics:

,profile,gender,birthday,favorites_anime,link,age
count,47885,30878,26848,47885,47885,47885
unique,47885,3,7708,35381,47885,90
top,DesolatePsyche,Male,1993,[],https://myanimelist.net/profile/DesolatePsyche,
freq,1,21188,116,10422,1,25309

Percentage of missing values:
profile            0.000000
gender             0.355163
birthday           0.439323
favorites_anime    0.000000
link               0.000000
age                0.000000
dtype: float64

In [201]:
df.to_csv('../data/profiles_clean.csv', index=False)

---

# Reviews

In [202]:
#files 
data = pd.read_csv('https://anime-recommendation-engine.s3.eu-west-3.amazonaws.com/data/reviews.csv')
data.head()

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 8 \n \n \n Story \n 8 \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8', 'Sound': '10', 'Character': '9', 'Enjoyment': '8'}",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 10 \n \n \n Story \n 10 \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': '10', 'Sound': '10', 'Character': '10', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 7 \n \n \n Story \n 7 \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9', 'Sound': '8', 'Character': '8', 'Enjoyment': '8'}",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 9 \n \n \n Story \n 9 \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9', 'Sound': '10', 'Character': '10', 'Enjoyment': '9'}",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 10 \n \n \n Story \n 10 \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': '8', 'Sound': '9', 'Character': '10', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=291149

In [203]:
# Basic stats
print(f"Number of rows : {data.shape[0]}")
print(f"Number of columns : {data.shape[1]}")

print("Basics statistics: ")
display(data.describe(include='all'))

print("Percentage of missing values: ")
print(data.isna() .sum() / data.shape[0])

Number of rows : 192112
Number of columns : 7
Basics statistics:

,uid,profile,anime_uid,text,score,scores,link
count,192112.000000,192112,192112.000000,192112,192112.000000,192112,192112
unique,NaN,47885,NaN,130440,NaN,29837,130519
top,NaN,Sidewinder51,NaN,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 10 \n \n \n Story \n 10 \n \n \n ...,NaN,"{'Overall': '10', 'Story': '10', 'Animation': '10', 'Sound': '10', 'Character': '10', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=321183
freq,NaN,762,NaN,8,NaN,13900,4
mean,187648.127525,NaN,15273.300283,NaN,7.570235,NaN,NaN
std,98748.902397,NaN,13480.565379,NaN,2.255167,NaN,NaN
min,1.000000,NaN,1.000000,NaN,0.000000,NaN,NaN
25%,101779.500000,NaN,2167.000000,NaN,6.000000,NaN,NaN
50%,210913.500000,NaN,10793.000000,NaN,8.000000,NaN,NaN
75%,270383.000000,NaN,30205.000000,NaN,9.000000,NaN,NaN
max,325747.000000,NaN,40807.000000,NaN,11.000000,NaN,NaN

Percentage of missing values:
uid          0.0
profile      0.0
anime_uid    0.0
text         0.0
score        0.0
scores       0.0
link         0.0
dtype: float64

### EDA

##### UID

In [204]:
data['uid'].value_counts()

uid
321183    4
321837    4
321498    4
321144    4
321148    4
         ..
46599     1
211503    1
156351    1
198366    1
193145    1
Name: count, Length: 130519, dtype: int64

In [205]:
data['uid'].nunique()

130519

In [206]:
pd.set_option('display.max_colwidth', 300)
data[data["uid"]==321183].head()

,uid,profile,anime_uid,text,score,scores,link
49298,321183,Zaky1435,40269,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 9 \n \n \n Story \n 9 \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '8', 'Sound': '9', 'Character': '9', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=321183
54270,321183,Zaky1435,40269,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 9 \n \n \n Story \n 9 \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '8', 'Sound': '9', 'Character': '9', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=321183
184572,321183,Zaky1435,40269,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 9 \n \n \n Story \n 9 \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '8', 'Sound': '9', 'Character': '9', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=321183
189544,321183,Zaky1435,40269,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 9 \n \n \n Story \n 9 \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '8', 'Sound': '9', 'Character': '9', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=321183

### Cleaning Dataset

In [207]:
df = data.drop_duplicates('uid')

In [208]:
df.head()

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 8 \n \n \n Story \n 8 \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8', 'Sound': '10', 'Character': '9', 'Enjoyment': '8'}",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 10 \n \n \n Story \n 10 \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': '10', 'Sound': '10', 'Character': '10', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 7 \n \n \n Story \n 7 \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9', 'Sound': '8', 'Character': '8', 'Enjoyment': '8'}",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 9 \n \n \n Story \n 9 \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9', 'Sound': '10', 'Character': '10', 'Enjoyment': '9'}",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 10 \n \n \n Story \n 10 \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': '8', 'Sound': '9', 'Character': '10', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=291149

### stats after cleaning

In [209]:
# Basic stats
print(f"Number of rows : {df.shape[0]}")
print(f"Number of columns : {df.shape[1]}")

print("Basics statistics: ")
display(df.describe(include='all'))

print("Percentage of missing values: ")
print(df.isna() .sum() / df.shape[0])

Number of rows : 130519
Number of columns : 7
Basics statistics:

,uid,profile,anime_uid,text,score,scores,link
count,130519.000000,130519,130519.000000,130519,130519.000000,130519,130519
unique,NaN,47885,NaN,130440,NaN,29837,130519
top,NaN,Sidewinder51,NaN,\n \n \n \n \n \n \n \n more pics \n \n \n \n \n \n Overall \n 7 \n \n \n Story \n 7 \n \n \n ...,NaN,"{'Overall': '10', 'Story': '10', 'Animation': '10', 'Sound': '10', 'Character': '10', 'Enjoyment': '10'}",https://myanimelist.net/reviews.php?id=255938
freq,NaN,611,NaN,6,NaN,8144,1
mean,186880.155839,NaN,15696.469855,NaN,7.329737,NaN,NaN
std,99244.778774,NaN,13479.395334,NaN,2.321337,NaN,NaN
min,1.000000,NaN,1.000000,NaN,0.000000,NaN,NaN
25%,99189.000000,NaN,2476.000000,NaN,6.000000,NaN,NaN
50%,210512.000000,NaN,11755.000000,NaN,8.000000,NaN,NaN
75%,270414.500000,NaN,30484.000000,NaN,9.000000,NaN,NaN
max,325747.000000,NaN,40807.000000,NaN,11.000000,NaN,NaN

Percentage of missing values:
uid          0.0
profile      0.0
anime_uid    0.0
text         0.0
score        0.0
scores       0.0
link         0.0
dtype: float64

In [210]:
df.to_csv('../data/reviews_clean.csv', index=False)